.hero--contacts{
    width: 65%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: rgba(32, 40, 70, 1);
    font-size: 25px;
    
}
.hero--contacts h4{
    border-bottom: 2px solid rgba(32, 40, 70, 1);
}
.firstline{
    justify-content: space-between;
    margin-top: 50px;
    display: flex;
}
.number--line{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.number--line h4{
    border-bottom: 2px slid rgba(32, 40, 70, 1);
}
.secondline{
    display: flex;
    justify-content: space-between
    
}
.p2line{
    text-align: center;
}
.adress h4{
    margin-top: 40px;
}