/* HEADER */
header{
    width: 100%;
    height: 100%;
    background-color: rgba(32, 40, 70, 1);
    
}
.header-container{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.UA{
    transition: all 100ms ease ;
}
.UA:hover{
    transform: scale(1.1);
}
.changelanguage {
    position: absolute;
    right: 3px;
    bottom: -110px;
    flex-direction: column;
    background-color: rgba(32, 40, 70, 1);
    font-weight: bold;
    gap: 3px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 200ms ease, transform 200ms ease, visibility 200ms;
}

.changelanguage.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.changelanguage p {
    width: 100%;
    padding: 5px;
}

.changelanguage p.active {
    background-color: #c4c4c41a;
    border-radius: 5px;
    transition: all 100ms ease;
}

.logo{
    margin-left: 50px;
}
nav ul{
    display: flex;
    gap: 50px;
    align-items:center;
    
}
nav ul li {
    display: flex;
    list-style: none;
    color: white;
    text-align: center;
    align-items: center;
    
}
nav ul li:not(:last-child) {
    border-right: 3px solid white;
    padding-right: 50px;
    margin-right: 0px;
    height: 50px;
   
}
nav ul li a{
    color: white;
    font-weight: 600;
    font-size: 16px;
    
}
.lang-switch img{
    width: 50px;
    height: auto;
    
}

.lang-switch a{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 15px;
    font-size: 30px;
}

/* HERO */
.hero{
    width: 100%;
    height: 100%;
    margin-bottom: 50px
}
.hero-container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    margin-top: 100px;    
}
.photos{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
}

.firstphoto{
    width: 100%;
    height: 360px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/firstbg.svg);
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: cover; 
    
}
.firstphoto h1{
    font-size: 50px;
    font-weight: bold;
    
}
.firstphoto p{
    font-size: 40px;
    font-weight: bold;
    
}

/* SECOND PHOTO */
.secondphoto{
    width: 100%;
    height: 600px;
    background-image: url(../img/secondbg.svg);
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: cover; 
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: azure;
    position: relative;
    
}
.infotwo{
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(32, 40, 70, 1);
    font-size: 20px;
    font-style: italic;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    padding: 40px 20px 5px 20px; 
    box-sizing: border-box;
    position: relative;
}
.comp{
    display:flex;
    width: 100%;
    height: 20px;
    justify-content: center;
    margin-left: 100px;
    padding: 20px 0 5px 0;
    cursor: pointer;
}
.button{
    display: flex;
}
.btn{
    display: flex;
    position: absolute;
    background-color: rgba(32, 40, 70, 1);
    color: white;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
    height: 70px;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    top: -70px;
    right: 10px;
    cursor: pointer;
}
.btn img{
    width: 30px;
}
.lines{
    position: absolute;
    bottom:40%;
    right: 20px;
    cursor: pointer;
    transition: all 300ms ease;
}
.lines:hover{
    transform: scale(1.1);
}
/* THIRD PHOTO */
.thirdphoto{
    background-color: #C1C1C3;
    display: flex;
    gap: 10px;
    padding: 30px 60px;
    
}
.thirdphoto img{
    width: 55%;
}
.thirdphoto p{
    display: flex;
    width: 45%;
    height: auto;
    background-color: #EAEAEB;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgba(32, 40, 70, 1);
    font-size: 20px;
}

.form{
    display: flex;
    width: 30%;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    background-color: #F2EEEE;
    color: rgba(65, 65, 65, 1);
    padding: 0px;
    gap: 20px;
    padding: 20px 0 0 0;
    position: relative;
}
.form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;

}
.name, .number{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.name input, .number input{
    padding: 10px;
}
.form button{
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    background-color: rgba(68, 71, 101, 1);
    border: none;
    color: white;
    font-size: 20px;
    justify-content: center;
    cursor: pointer;
}

/* FOOTER */
footer{
    width: 100%;
    padding: 25px;
    background-color: rgba(32, 40, 70, 1);
}
footer p{
    font-size: 20px;
    margin-left: 5%;
}
.arrowback{
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: rgba(85, 87, 104, 0.62);
    padding: 20px;
    border-radius: 50%;
    top: 30%;
    right: -118%;
    cursor: pointer;
    transition: all 300ms ease;
}

.arrowback:hover{
    transform: scale(1.1);
}
