.hero--personalacc{
    background-color: rgba(189, 189, 198, 1);
    width: 55%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    /* gap: 20px; */
    margin-bottom: 40px;
    padding: 50px 80px;
    justify-content: space-between;
}
.avatar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    align-items: center;
}
.avatar img{
    width: 190px;
    height: 190px;
}
.avatar button{
    padding: 10px 40px;
    border: none;
    border-radius: 30px;
    font-size: 17px;
    align-items: center;
    display: flex;
}
.changeav{
    background-color: rgba(105, 116, 155, 1);
    color: rgba(255, 255, 255, 1);
}
.settings{
    background-color: rgba(72, 74, 84, 1);
    color: rgba(255, 255, 255, 1);
}
.acc-info{
    display: flex;
    flex-direction: column;
    gap: 18px;

}
.acc-name,
.acc-sex,
.acc-birthday,
.acc-number,
.acc-email{
    font-size: 23px;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    /* background-color: blanchedalmond; */
    gap: 7px;
    color: rgba(53, 60, 87, 1);
}
.acc-name,
.acc-sex,
.acc-birthday,
.acc-number{
    border-bottom: 2px solid white;
}
.hero--personalacc h3{
    font-style: italic;
}
.buttonexit{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.exit{
    background-color: rgba(32, 40, 70, 1);
    color: white;
    padding: 10px 50px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
}