
.resmore{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 80px;
}
.photosmr{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-top: 50px;
    gap: 5px
}

.photoleft{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.photoright p {
    display: flex;
    background-color: rgba(199, 199, 199, 1);
    color: black;
    padding: 20px 40px;
    justify-content: center;
    font-size: 29px;
}
.photorightddd{
    display: flex;
    gap: 5px;
    align-items:flex-end;
    justify-content: center;
}
.button{
    display: flex;
    background-color: rgba(32, 40, 70, 1);
    color: white;
    align-items: center;
    padding: 15px 30px;
    gap: 20px;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    left: -50px;
    position: relative;
    cursor: pointer;
}
.resmore h1{
    color: rgba(32, 40, 70, 1);
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
/* FILTERS */
.filters{
    padding: 10px 20px;
    color: black;
    font-size: 29px;
    background-color: rgba(206, 206, 216, 1);
    justify-content: space-around;
    position: relative;
    margin-bottom: 100px;
}
.filtersone{
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 40px 0;
}
.filtersone input{
    width: 300px;
    height: 60px;
    border: 3px solid silver;
    padding: 0 20px;
    font-size: 20px;
    margin-top: 10px;
}
.checkSit{
    background-color: rgba(43, 54, 92, 1);
    color: white;
    padding: 30px 50px;
    font-size: 29px;
    margin-left: 50px;
    cursor: pointer;
}
.filterstwo{
    display: flex;
    align-items: center;
    gap: 100px;
}
.num1{
    display: flex;
    align-items: center;
    gap: 20px;
}
.num1 input{
    width: 30px;
    height: 60px;
    border: 3px solid silver;
    padding: 0 20px;
    font-size: 30px;
}
.arrowbacktwoo{
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: rgba(85, 87, 104, 0.62);
    padding: 20px;
    border-radius: 50%;
    right: -180px;
    top: 40%;
    cursor: pointer;
    transition: all 300ms ease;
}

.arrowbacktwoo:hover{
    transform: scale(1.1);
}
/* typeOfFilters */

.typeOfFilters{
    width: 100%;
    height: 280px;
    font-size: 32px;
    font-style: italic;
    box-sizing: border-box;
}

.spans{
    display: flex;
    width: 100%;
}
.span1, .span2, .span3{
    background-color: rgba(76, 83, 107, 1);
    padding: 15px 30px;
}
.span1{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 3px solid rgba(143, 152, 185, 1);
}
.span2{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-right: 3px solid rgba(143, 152, 185, 1);
}
.span3{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.afterSpans{
    width: 100%;
    display: flex;
    height: 200px;
}
.span1Info, .span2Info, .span3Info{
    background-color: rgba(207, 207, 209, 1);
    padding: 15px 30px;
}
.span1Info{
    width: 15%;
    border-right: 3px solid rgba(143, 152, 185, 1);
    border-bottom: 3px solid rgba(143, 152, 185, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.span2Info{
    width: 65%;
    border-right: 3px solid rgba(143, 152, 185, 1);
    border-bottom: 3px solid rgba(143, 152, 185, 1);
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: black;
    gap: 10px;
    justify-content: center;
}
.span3Info{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid rgba(143, 152, 185, 1);
}
.showPrice{
    background-color: rgba(104, 123, 192, 1);
    
    color: white;
    font-size: 30px;
    padding: 15px 30px;
    border: none;
    font-style: italic;
    font-weight: 100;
}