.hero-reservation{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 10px 0;
}

.selectcity{
    background-color: #E8E8E8;
    color: rgba(0, 0, 0, 0.61);
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: relative;
    margin-bottom: 70px;
}
.selectcity img{
    margin-right: 0 auto;
    position: absolute;
    right: 20px;
}

.firsthouse{
    display: flex;
    background-color: rgba(189, 189, 198, 1);
    padding: 40px 60px;
    justify-content: space-between;
    position: relative;
}

.info-about-firsthouse{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-about-firsthouse h3{
    font-size: 30px;
    font-style: italic;
    color: rgba(53, 60, 87, 1);
    border-bottom: 2px solid white ;
    padding-bottom: 5px;
}
.info-about-firsthouse p{
    background-color: rgba(215, 215, 221, 1);
    color: rgba(53, 60, 87, 1);
    text-align: center;
    padding: 46px 40px;
    font-size: 18px;
}
.btn2{
    display: flex;
    position: absolute;
    background-color: rgba(32, 40, 70, 1);
    color: white;
    align-items: center;
    padding: 15px 35px;
    gap: 20px;
    /* height: 70px; */
    font-size: 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    bottom: 15px;
    right: -60px;
}
.star{
    width: 45px;
    height: 45px;
    position: absolute;
    right: 10px;
    top: 10px;
}